body{
    padding: 0;
    margin: 0;
}
.fondo{
    width: 101%;
    padding: 0;
    margin: 0;
}
.mainFondo{
    padding: 0;
    margin: 0;
    width: 101%;

}
.main{
    padding: 0;
    margin: 0;
}
.logo{
    width: 8em;
    height: 5em;
    display: flex;
    margin-left: 40%;
}
#login{
    width: 30%;
    margin-left: 40%;
    margin-top: 10%;
}
  
#cabecera_login{
    background: rgb(0, 119, 255);
    width: 100%;
    height: 30%;
    text-align: center;
    color: white;
}
  
#btn_login {
    margin-left: 40%;
    background: rgb(0, 119, 255);
    color: white;
}
#registro {
    width: 30%;
    margin-left: 40%;
    margin-top: 8%;
  }
  
  #cabecera_registro{
    background:rgb(0, 119, 255);
    height: 30%;
    text-align: center;
    color: white;
  }
  
  #btn_registrar{
    margin-left: 40%;
    background:rgb(0, 119, 255);
    color: white;
  }
  